.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: #ececec;
}

.app-main {
  width: 80%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);  
}

.app-list {  
  width: 20%;
  padding: 20px;
  border-right: 1px solid white;
}

.App-link {
  color: #61dafb;
}
