input[type=text] {
    padding: 10px 20px;
    margin-bottom: 10px;
}
input[type=submit] {
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

.messages {
    width: 70%;
    margin-top: 50px;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    margin-bottom: 20px;
}